<!DOCTYPE html>
<html>
<!-- HEAD -->
<%- include('./partials/head') %>

  <body>
    <!--     HEADER-->
    <%- include('./partials/header') %>

     <section>
        <h2 class="text-center p-3 color-black fw-bold mt-3">AGREGAR PRODUCTO</h2>
        <div class=" mt-4 mb-3 container-md mx-auto col-9  p-4 card-body card">
            <form action="/products/createProduct" class="row g-3" method="POST" enctype="multipart/form-data">
                <div class="col-md-6">
                    
                    <label for="name" class="form-label">Nombre del auto</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <div class="col-md-2">
                    <label for="model" class="form-label">Modelo</label>
                    <input type="number" name="model" class="form-control" id="model">
                </div>
                <div class="col-md-2">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" name="price" class="form-control" id="price">
                </div>

                <div class="input-group">
                    <span class="input-group-text">Descripción del auto</span>
                    <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
                  </div>
                
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile01" name="image">
                      </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-success">Crear producto</button>
                </div>
                
              </form>
        </div>
     </section>



      <!-- FOOTER -->
      <%- include('./partials/footer') %>
        <!-- SCRIPTS -->
        <%- include('./partials/scripts') %>

  </body>

</html>